.dashboard-footer{
    height: 4%;
    width: 97%;
    background-color: #f4f4f4;
    display: inline;
    position: absolute;
    left: 40px;
    bottom: 0%;

    transition: margin 400ms ease-out;

    text-align: center;
    padding-top: 4px;
    font-size: 12px;
    font-weight: bold;
}

.content {
    float: left;
    margin-left: 40%;

}

.icons {
    background-color: honeydew;
    border-radius: 50%;
    width: 18px;
    float: left;
    margin-left: 10px;
}

