<aside (mouseover)="OnMouseHover()" (mouseleave)="OnMouseLeave()">
    <nav id="sidenav" class="navbar navbar-inverse sidebar navbar-fixed-top">
      <div class="nav-side-menu">
        <ul>
          <li><i class="fas fa-bars icon"></i>Menu
            <span class="icon-pin" (click)="OnToggleLeftMenuPin()">
              <span *ngIf="isLeftMenuPinned===false"><i class="fas fa-thumbtack"></i></span>  
              <span *ngIf="isLeftMenuPinned===true"><i class="far fa-times-circle"></i></span>  
            </span>
          </li>
          <li><i class="fas fa-building icon"></i>About School</li>
          <li><i class="fas fa-chalkboard icon"></i>Standard</li>
          <li><i class="fab fa-medium-m icon"></i>Medium</li>
          <li><i class="fas fa-book-open icon"></i>Subjects</li>
          <li data-target="#sub-staff" data-toggle="collapse" role="button">
            <i class="fas fa-users icon"></i>Staff
          </li>
          <ul class="nav collapse sub-menu" id="sub-staff" role="menu">
              <li>Teaching</li>
              <li>Non-Teaching</li>
          </ul>
          <li><i class="fas fa-user-graduate icon"></i>Students</li>
          <li><i class="fas fa-id-card-alt icon"></i>Subscriptions</li>
          <li><i class="fas fa-file-alt icon"></i>Exams</li>
        </ul>
      </div>
    </nav>
  </aside>