
    <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="type here....">
          <span class="input-group-btn">
            <button class="btn btn-default">Action</button>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Action 1</a></li>
              <li><a href="#">Action 2</a></li>
              <li><a href="#">Action 3</a></li>
            </ul>
          </span>
        </div>
      </div>
