<!-- <div id="myheader" class="dashboard-header">
    Header
</div> -->

<div id="myheader" class="dashboard-header">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <img src="../../../../assets/images/school-logo.jpg" alt="school logo">
            <span class="brand-name">My School</span>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">News and Events</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img class="user-icon" src="../../../../assets/images/user.jpg">
                </a>

                <ul class="card dropdown-menu dropdown-menu-left" role="menu">
                    <a>
                        <img class="user-image" src="../../../../assets/images/user.jpg">
                    </a>
                    <span class="h4">User Name</span>
                    <div class="dropdown-divider"></div>
                    <button class="btn btn-normal">Settings</button>
                    <button class="btn btn-normal pull-right">Logout</button>
                </ul>
            </li>

        </ul>

    </nav>

    <div class="breadcrumb-space">
        Breadcrumb space
    </div>

</div>