<!-- <div id="myheader" class="dashboard-header">
    Header
</div> -->

<div id="myheader" class="dashboard-header">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <img src="../../../../assets/images/school-logo.jpg" alt="school logo">
            <span class="brand-name">My School</span>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Dashboard</a></li>
        </ul>

    </nav>

    <div class="breadcrumb-space">
        Breadcrumb space
    </div>

</div>