.dashboard-header {
    width: 97%;
    position: absolute;
    left: 40px;
    transition: margin 400ms ease-out;
}

.navbar {
    background-color: 	#20B2AA;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

img {
    height: 45px;
    width: 40px;
    margin: 2px 0 0 2px;
}

.brand-name {
    font-size: 20px;
    margin-left: 20px;
    color: #e1ffff;
    font-family: verdana;
}

.breadcrumb-space {
    height: 20px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.navbar-default .navbar-nav > li > a {
    color: #e1ffff;
    font-family: verdana;
    margin-left: 4px;
}

.user-icon {
    height: 20px;
    width: 20px;
}

.user-image {
    height: 60px;
    width: 60px;
}

.card {
    height: 120px;
    width: 200px;
    position: absolute;
    left: -150px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.card .h4 {
    margin-left: 20px;
}

.card .btn {
    margin-left: 2px;
    margin-top: 10px;
    margin-right: 2px;
}