.dashboard-header {
    width: 97%;
    position: absolute;
    left: 40px;
    transition: margin 400ms ease-out;
}

.navbar {
    background-color: 	#20B2AA;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.breadcrumb-space {
    height: 20px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}